/*COLORS
#d9dde0 = GRAY
#838587 = DARK GRAY
#184572 = active link dark bleu
#1980e8 = showcase blue
COLORS*/



/* Start Main Rules */
body{
margin: auto;
direction: rtl;
background-color: #cbd9e4;
height: 600px;
width: 100%;

}

a{
  cursor: pointer;
}

h3{
  color: #ffffff;
  padding-left: 50px;
}
.total>h4{
  padding-right: 50px;
}
.container{
  width: 1170px;
  margin: auto;
}

.clearfix {
  clear: both;
}
/* End Main Rules */

/*START HEADER PART*/

.header{
  background-color: #373d42;
}

.header .container{
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.header .container div:last-of-type{
  margin-left: 20px;
}
/*NAV BAR*/

.header .navbar{
  color: #fff;
  overflow: hidden;
}

.header .navbar .container div h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /*float: left;*/
  overflow: hidden;
  font-family: 'Baloo Bhaijaan', cursive;
}

.header .navbar .container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.header .navbar ul{
  display: flex;
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
  text-align: center;
}

.header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

ul{
  list-style: none;
}

#userinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.header .navbar ul li a{
  /*float: left;*/
  text-decoration: none;
  color: #fff;
}
.username{
      padding: 15px;
}
.header .navbar ul li a:hover,
.header .navbar ul li.active a{
  color: #82bf0d;
}
.adddebtshowcase{
  display: none;
}
.header .navbar .container div{
  width: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img{
  width: 40px;
  height: 40px;
}
/*END NAVBAR*/



/*END HEADER PART*/

/*START BODY PART*/

/*SHOWCASE*/
.showcase .container{
  -webkit-background-size: cover;  /*  CSS3  */
  -moz-background-size: cover;  /*  CSS3  */
  -o-background-size: cover;  /*  CSS3  */
  background-size: cover;  /*  CSS3  */
  height: 500px;
  width: 100%;
  background-color: #e6f4cb;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
/*END SHOWCASE*/

.showcase .container .rside {
  height: 500px;
  width: 70%;
  color: black;
  background-color: gray;
  float: right;
  overflow: hidden;
  text-align: center;
}

.showcase .container .rside .container {
  background-color: #f2f3f4;
  display: flex;
  justify-content: space-between;;
  flex-direction: column;
  }
.total{
  text-align: center;
border: solid 2px #8ebcea;
border-radius: 25px;
color: #fff;
background: #607D8B;
/*width: 80%;*/
padding: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
  .showcase .container .rside .table {
    background-color: #f2f3f4;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    }

    /*.showcase .container .rside .total {
      background-color: #f2f3f4;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      }*/

    .showcase .container .lside {
      height: 500px;
      width: 30%;
      color: black;
      background-color: #e2f7b9;
      float: left;
      overflow: hidden;
    }

/*.showcase .container .rside .userimage img{
  width: 100px;
  height: 100px;
  margin-top: 30px;
}*/
.showcase .container .lside .container{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
background-color: #cbd9e4;
}

.showcase .container .lside .container .userimage{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.showcase .container .lside .container .userimage img{
width: 100px;
height: 100px;
margin-top: 20px;
}

.showcase .container .lside .container .cinfo{
width: 100%;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.adddebt_button{
  cursor: pointer;
}
/*START TABLE PART*/

.showcase .container .rside .container table{
  width: 80%;
  color: #7b818c;
  margin-top: 20px;
}

tr{
  text-align: center;
}

table {
  border-collapse: separate;
}

table thead th {
  border-bottom: 2px solid #bfdeef;
}

table thead tr {
  margin-bottom: 3px;
}

/*END TABLE PART*/

/*END BODY PART*/

/*START FOOTER PART*/
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  /*position: fixed;*/
  color: white;
  font-size: 10px;
  padding: 20px;
  background-color: #373d42;
  overflow: hidden;
}
/*END FOOTER PART*/



/*START LOGIN FORM*/


.loginshowcase {
  -webkit-background-size: cover;  /*  CSS3  */
  -moz-background-size: cover;  /*  CSS3  */
  -o-background-size: cover;  /*  CSS3  */
  background-size: cover;  /*  CSS3  */
  height: 500px;
  width: 100%;
  background-color: #cbd9e4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
    background-image: url('./images.loginshow.jpg');
}

.logincontainer {
    width: 45%;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*padding: 20px;
    padding: 60px;*/
  }

.errornote{
  color: red;
  float: left;
  padding: 15px;
}

#loginform{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.block{
  display: inline-block;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 70%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
}
input[type=password], select, textarea {
    width: 70%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4c85af;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #f7a307;
}

input[type=email], select, textarea {
    width: 70%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
  }

    input[type=address], select, textarea {
        width: 70%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
      }
/* Add a background color and some padding around the form */


/*END LOGIN FORM*/

/*START REGISTER NEW USER 'MANAGER'*/


.newusershowcase {
  -webkit-background-size: cover;  /*  CSS3  */
  -moz-background-size: cover;  /*  CSS3  */
  -o-background-size: cover;  /*  CSS3  */
  background-size: cover;  /*  CSS3  */
  height: 500px;
  width: 100%;
  background-color: #cbd9e4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.newusercontainer {
    width: 60%;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.newusercontainer h3{
  color: red;
}

.signUp{
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*.errornote{
  color: red;
  float: left;
  padding: 15px;
}

#loginform{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.block{
  display: inline-block;
}*/

.signUp input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
}
.signUp input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
}
/* Style the submit button with a specific background color etc */
.signUp input[type=submit] {
    background-color: #4c85af;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.signUp input[type=submit]:hover {
    background-color: #f7a307;
}

.signUp input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
  }

    .signUp input[type=address], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
      }

/*END REGISTER NEW USER 'MANAGER'*/


/*START REGISTER NEW CUSTOMER'*/

/*.popUpContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.popUpContainer .newcustomershowcase {

  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-color: #cbd9e4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}*/

.newcustomercontainer {
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*position: fixed;*/
  }

  .newcustomercontainer form{
    width: 80%;
  }

  .newcustomercontainer span{
    display: flex;
    align-self: stretch;
    margin-right: 10px;
  }

  .register{
    display: flex;
    flex-direction: column;
  }

  .register input[type=text], select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical  Allow the user to vertically resize the textarea (not horizontally)
  }

  /* Style the submit button with a specific background color etc */
  .register input[type=submit] {
      background-color: #4c85af;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .register input[type=submit]:hover {
      background-color: #f7a307;
  }
li{
display: flex;
}
/*END REGISTER NEW customer'*/


/*START SEARCH FORM*/


.searchshowcase {
  -webkit-background-size: cover;  /*  CSS3  */
  -moz-background-size: cover;  /*  CSS3  */
  -o-background-size: cover;  /*  CSS3  */
  background-size: cover;  /*  CSS3  */
  height: 500px;
  width: 100%;
  background-color: #cbd9e4;
  overflow: hidden;

}

.searchshowcase .container{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.searchinput {
    width: 80%;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 20px;
    /*padding: 20px;
    padding: 60px;*/
}

.resultcontainer{
  margin-top: 20px;
  background-color: #f2f2f2;
  width: 80%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resultcontainer div{
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultcontainer div:nth-child(2){
  width: 33.333%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.totaldebt{
  color: red;
}

#add-btn{
  cursor: pointer;
  margin-bottom: 50px;
  margin-right: 50px;
  background: lightgreen;
  border-radius: 50%
}

/*.searchshowcase .addCustomer .newCustomerForm{
  display: flex;
align-items: center;
justify-content: center;
}*/

/*END SEARCH FORM*/

/*START ADD DEBT PART*/

.adddebtshowcase {
  -webkit-background-size: cover;  /*  CSS3  */
  -moz-background-size: cover;  /*  CSS3  */
  -o-background-size: cover;  /*  CSS3  */
  background-size: cover;  /*  CSS3  */
  height: 300px;
  width: 85%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.adddebtshowcase .container{
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.adddebtshowcase .container hr{
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  width: 80%;
  }

.adddebtshowcase .container span{
  display: flex;
  align-self: stretch;
  margin-right: 10px;
}

.adddebtshowcase .container #addbutton{
display: flex;
justify-content: center;

}

.add_debt{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.add_debt div{
  text-align: center;
  padding: 10px;
  background-color: #dcead7;
}

#add_icon{
  text-align: center;
  padding: 10px;
  background-color: white;
}

#add_icon img{
  width: 30px;
  height: 40px;
  cursor: pointer;
}



/*END ADD DEBT PART*/


/*START 404 PART*/
.show404{
  width: 100%;
  height: 500px;
}

.show404 .container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

/*END 404 PART*/
.show404 .container img{
  height: 500px;
  width: 100%;
  text-align: center;
}



/*START RESPONSIVE PART*/
@media (min-width: 500px) and (max-width:820px){
  .header .navbar ul {
    flex-direction: column;
    }

}
@media (min-width: 500px) and (max-width:600px){
  .newcustomercontainer{
    width: 70%;
  }
}
@media (min-width: 600px){
  .newcustomercontainer{
    width: 50%;
  }
}

@media (max-width: 500px){
.header{
  overflow: hidden;
}
.header2{
  order:-1;
}
.header .navbar ul {
   flex-direction: row;
}

.header .navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header .navbar .unsignedcontainer{
  margin-top: 70px;
}

 /*#unsigned>h2 */

.header .navbar .container div{
  width: 100%;
}
.newusercontainer{
  width: 100%;
  margin-top: 0;
  height: 100%;
}

.searchinput{
  width: 100%;
  margin-top: 0;
  }

  .resultcontainer{
    width: 100%;
  }

  .newcustomercontainer{
    width: 90%;
  }

.footer{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

/*END RESPONSIVE PART*/
