<div id="addCustomer" class="newCustomerForm {{#if errMsg}}newCustomerForm--open{{/if}}">
      <div class="newcustomercontainer newcustomercontainer-mobile ">
        <span class="close">&times;</span>
          <h3>تسجيل زبون جديد</h3>
            <form class="register" action="/customer" method="post">
              <input type="text" name="name" placeholder="أدخل اسم الزبون">
              <input type="text" name="phone" placeholder="أدخل رقم هاتف الزبون">
              <input type="text" name="address" placeholder="أدخل عنوان الزبون">
              <input type="submit" name="submit" value="سجل الان">
                {{#if errMsg}}<span class="invalid">{{errMsg}}</span>{{/if}}
            </form>
      </div>
</div>
