<div id="addCustomer" class="newCustomerForm">
  <!-- Modal content -->
  <!-- <div class="popUpContainer"> -->

    <!-- <div class="newcustomershowcase"> -->
      <div class="newcustomercontainer">
        <span class="close">&times;</span>
          <h3>تسجيل زبون جديد</h3>
            <form class="register" action="/customer" method="post">
              <input type="text" name="name" placeholder="أدخل اسم الزبون">
              <input type="text" name="phone" placeholder="أدخل رقم هاتف الزبون">
              <input type="text" name="address" placeholder="أدخل عنوان الزبون">
              <input type="submit" name="submit" value="سجل الان">
            </form>
      </div>
    <!-- </div> -->
  <!-- </div> -->

</div>
