<div class="adddebtshowcase">
  <form class="" action="./debt" method="post">
    <div class="container">
        <span class="close">&times;</span>
        <div class="add_debt">
          <input type="text" name="name" placeholder="الصنف" id="item">
          <input type="text" name="name" placeholder="سعر الوحدة" id="quantity">
          <input type="text" name="name" placeholder="الكمية" id="total">
          <input type="text" name="name" placeholder="المجموع" id="add_icon">
          <hr>

            <div id="add_icon">
              <img src="images/delete.png" alt="userinfo">
            </div>
            </div>
          <hr>
          <div id="addbutton">
            <input type="submit" name="" value="إضافة">
          </div>
        </div>
  </form>
</div>
