<head>
  <meta charset="utf-8">
  <title>Supermarket Debt Manager</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/popUps.css">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <script defer type="text/javascript" src="/js/searchHandler.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&amp;subset=arabic" rel="stylesheet">
</head>
