<div class="header">
  <div class="navbar">
    <div class="container">
      <div class="headerElement">
        <ul id="userinfo header1">
          <li><a href="/"><img src="/images/user.png" alt="userinfo"></a></li>
          <li><a class="username"href="/">{{username}}</a></li>
        </ul>
      </div>
      <div class="headerElement header2">
        <h2>برنامج إدارة الديون</h2>
      </div>
      <div class="headerElement header3">
        <ul id='logout'>
        <li><a href="/logout"><img src="/images/logout.png" alt="logout"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
