<div class="header">
  <div class="navbar">
    <div class="container">
      <div>
        <ul id="userinfo">
          <li><a href="/"><img src="/images/user.png" alt="userinfo"></a></li>
          <li><a href="/">محمد</a></li>
        </ul>
      </div>
      <div>
          <h2>مترو سوبرماركت</h2>
      </div>
      <div>
        <ul id='logout'>
        <li><a href="/logout"><img src="/images/logout.png" alt="logout"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
