<div class="adddebtshowcase">
  <div class="container">
      <div class="add_debt">
        <div id="item">
          الصنف
        </div>
        <div id="price">
          السعر
        </div>
        <div id="quantity">
          الكمية
        </div>
        <div id="total">
          المجموع
        </div>
        <div id="add_icon">
          <img src="/images/add.png" alt="userinfo">
        </div>
        </div>
        <hr>
        <div class="add_debt">
          <div id="item">
            شاي
          </div>
          <div id="price">
            10
          </div>
          <div id="quantity">
            1
          </div>
          <div id="total">
            10
          </div>
          <div id="add_icon">
            <img src="/images/delete.png" alt="userinfo">
          </div>
          </div>
        <hr>
        <div id="addbutton">
          <input type="submit" name="" value="إضافة">
        </div>
      </div>
</div>
