<div class="showcase">
  <div class="container">
    <div class="rside">
<div class="container">
      <table>
      <tr>
        <th>#</th>
        <th>الصنف</th>
        <th>السعر</th>
      </tr>
      <tr>
        <td>1</td>
        <td>أرز</td>
        <td>50</td>
      </tr>
      <tr>
        <td>2</td>
        <td>سكر</td>
        <td>10</td>
      </tr>
      <tr>
        <th>  </th>
        <th>  </th>
        <th>  </th>
      </tr>
      <tr>
        <td>  </td>
        <td>  </td>
        <td>  </td>
      </tr>
      <tr>
        <td>  </td>
        <td>  </td>
        <td>  </td>
      </tr>
      <tr>
        <th>  </th>
        <th>  </th>
        <th>  </th>
      </tr>
      <tr>
        <td>  </td>
        <td>  </td>
        <td>  </td>
      </tr>
      <tr>
        <td> المجموع </td>
        <td>  </td>
        <td>60</td>
      </tr>
    </table>
</div>
    </div>
    <div class="lside">
      <div class="container">
        <div class="userimage">
        <img src="/images/old.png" alt="cimage">
        </div>
        <div class="cinfo">
          <h5>Name:{{customer}}</h5>
          <h4>DEPT</h4>
          <h5>Tel:</h5>
          <h5>address</h5>
        </div>
      </div>

    </div>
  </div>
</div>
