<div class="searchshowcase">
  <div class="container">

<div class="searchinput">
  <form class="" action="index.html" method="post">
    <input type="text" name="search" placeholder="ابحث عن الزبون">
  </form>
</div>

<div class="resultcontainer">
<div class="avatar">
  <img src="images/unkown.png" alt="">
</div>
<div class="cname">
سليم محمد محمود
</div>
<div class="totaldebt">
المجموع: 60 شيكل
</div>
</div>
  </div>
</div>
<img id="add-btn" src="/images/add-customer.svg" height="25px" width="25px">
{{>addCustomerPopup}}
<script type="text/javascript" src="/js/popUps.js">

</script>
