<div class="searchshowcase">
  <div class="container">

<div class="searchinput">
  <form class="" action="index.html" method="post">
    <input id='search' type="text" name="search" placeholder="ابحث عن الزبون">
  </form>
</div>
<ul class="resultcontainer">
<li><div class="avatar">
  <img src="images/unkown.png" alt="">
</div>
<div class="cname">
سليم محمد محمود
</div>
<div class="totaldebt">
المجموع: 60 شيكل
</div></li>
</ul>
  </div>
</div>
<img id="add-btn" src="/images/add-customer.svg" height="50px" width="50px">
{{>addCustomerPopup}}
<script type="text/javascript" src="/js/popUps.js">

</script>
