<div class="search_form">
  <div class="container">
   <h4>Search for Customer</h4>
   <form name="sform" action="#">
      <input type='text' name='cname'/>
      <input type="submit" name="submit" value="Submit" onclick="searchValidation(document.sform.cname)"/>
  </form>
  </div>
</div>
