
    <div id="autocomplete-container">
      <input type="text" autofocus="true" name="autofocus sample" placeholder="search people" id="autocomplete-input">
      <ul id="autocomplete-results">
      </ul>
    </div>
