
<form class="signUp" style="display:flex;flex-direction:column;"action="/signup" method="post">
  <input type="text" name="name" placeholder="أدخل اسمك">
  <input type="password" name="pwd" placeholder="ادخل كلمة المرور">
  <input type="password" name="confirmPwd" placeholder="أكد كلمة المرور">
  <input type="email" name="email" placeholder="الايميل">
  <input type="address" name="address" placeholder="العنوان">
  <input type="submit" name="submit" value="سجل الان">
</form>
